src/main/resources/input/svg-input.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="g">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="path" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use="optional"/>
                <xs:attribute type="xs:string" name="title" use="optional"/>
                <xs:attribute type="xs:string" name="seat" use="optional"/>
                <xs:attribute type="xs:string" name="population" use="optional"/>
                <xs:attribute type="xs:string" name="size" use="optional"/>
                <xs:attribute type="xs:string" name="d" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>